body{
  font: 17px Helvetica sans-serif;
  text-decoration: none;
}

#cabecera{
  margin-left: 5px;
}

#navegador{
  width: 100%;
  height: 30px;
  text-decoration: none;
  /*border-top: 2px solid #000000 ;*/
}
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
}
#navegador li a{
  color: black;
  list-style-type: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
.separador{
  width: 100%;
  border-bottom: 2px black solid;
  height: 2px;
  float: none;
}